html, body {
	@include full-screen;
	min-height: 100%;
}

.background {
	position: fixed;
	z-index: -999;
	top: 0; right: 0; bottom: 0; left: 0;
	@include full-screen;

	-webkit-transition: all 3s ease;
	-moz-transition: all 3s ease;
	-ms-transition: all 3s ease;
	-o-transition: all 3s ease;
	transition: all 3s ease;
}

.display-none {
	display: none;
	-webkit-transition: all 175ms ease;
	-moz-transition: all 175ms ease;
	-ms-transition: all 175ms ease;
	-o-transition: all 175ms ease;
	transition: all 175ms ease;
}

.visible-none {
	opacity: 0;
	-webkit-transition: all 175ms ease;
	-moz-transition: all 175ms ease;
	-ms-transition: all 175ms ease;
	-o-transition: all 175ms ease;
	transition: all 175ms ease;
}