// Introduction

section.introduction {
	@include full-screen;
	@include vertical-parent;

	-webkit-transition: all 175ms ease;
	-moz-transition: all 175ms ease;
	-ms-transition: all 175ms ease;
	-o-transition: all 175ms ease;
	transition: all 175ms ease;

	.container {
		@include vertical-center;
		text-align: center;

		h1.title {
			color: $color-white;
			font-family: $title-font;
			font-size: em(64px);
		}

		button {
			display: block;
			margin: 5px auto;
		}
	}

	.credit {
		position: absolute;
		bottom: 3px;
		width: 100%;
		text-align: center;
		font-weight: 400;
	}
}

.color-0 { background: #3f51b5; }
.color-1 { background: #5cc2f1; }
.color-2 { background: #c2ba77; }
.color-3 { background: #9993c1; }
.color-4 { background: #e88a63; }
.color-5 { background: #91c794; }
.color-6 { background: #565f77; }
.color-7 { background: #9d62c5; }
.color-8 { background: #EA9292; }
.color-9 { background: #7c79ce; }

.color-00 { background: #F48FB1; }
.color-11 { background: #81D4FA; }
.color-22 { background: #FFE082; }
.color-33 { background: #B39DDB; }
.color-44 { background: #81D4FA; }
.color-55 { background: #EF9A9A; }
.color-66 { background: #7986CB; }
.color-77 { background: #B0BEC5; }
.color-88 { background: #CE93D8; }
.color-99 { background: #A5D6A7; }

.negativeRed {
	color: #EA9292 !important;
}