// Play

section.play {
	@include full-screen;
	-webkit-transition: all 175ms ease;
	-moz-transition: all 175ms ease;
	-ms-transition: all 175ms ease;
	-o-transition: all 175ms ease;
	transition: all 175ms ease;

	nav.statusBar {
		position: fixed;
		z-index: 100;
		width: 100%;
		height: auto;
		padding: 3% 20% 0;
		background: none;

		h3 {
			display: inline-block;
			color: $color-white;
			font-family: $title-font;
			font-size: em(24px);
			font-weight: 400;
		}

		.username {
			float: left;
			margin: 0 auto 0 0;
			text-align: left;
		}

		.score {
			float: right;
			margin: 0 0 0 auto;
			text-align: right;
		}

		.circle {
			position: absolute;
			top: calc(3% -35px);
			left: 50%;
			width: 70px;
			height: 70px;
			margin-left: -35px;
			background: #F06292;
			border-radius: 50%;
			text-align: center;

			.timer {
				color: $color-white;
				font-family: $title-font;
				font-size: em(24px);
				font-weight: 400;
				line-height: 70px;
			}
		}
	}

	input#answers {
		position: absolute;
		left: 50%;
		bottom: 10%;
		width: 500px;
		margin-left: -250px;
		padding-bottom: em(10px);
		background: none;
		color: $color-white;
		border: none;
		border-bottom: 3px solid $color-gallery;
		font-size: em(36px);
	}

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	   color: $color-silver;
	}

	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: $color-silver;
	   opacity: 1;
	}

	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: $color-silver;
	   opacity: 1;
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: $color-silver;
	}
}